body {
    min-width: 600px; /* Defina a largura mínima desejada */
    margin: 0; /* Remova as margens padrão para garantir consistência */
    padding: 0; /* Remova os preenchimentos padrão para garantir consistência */
    
  }